@import url("https://fonts.googleapis.com/css?family=Raleway:300,600,900");

* {box-sizing: border-box; transition: all ease-in-out 50ms;}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

header {
	position: absolute; 
	left: 0; 
	right: 0;
}

img {
	max-width: 100%;
	height: auto;
}

nav {
	padding-top: 10px;
}

nav li {
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}

.left {
	float: left;
	font-weight: 900;
}

.right {
	float: right;
	font-weight: 600;
}

nav a {
	text-decoration: none;
	font-size: 40px;
	color: white;
}

nav a:hover, nav a:focus {
	color: #DDD;
}

h1 {
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0;
}

.background {
	background-image: url(img/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	height: 100vh;
	padding-top: 50vh;
}

.textbox {
	margin: 0;
}

.title {
	font-size: 60px;
	font-weight: 900;
	color: white;
}