{% extends 'base.html.twig' %}

{% block body %}

	<a class="btn btn-default" href="/books">Back to Books</a>
	<hr>
	<h3 class="page-header">{{book.title}}</h3>
	<ul class="list-group">
		<li class = "list-group-item">Author: {{book.author}}</li>
		<li class = "list-group-item">Price: {{book.price}}£</li>
	</ul>
	
{% endblock %}